<div class="chart-controls">
    <div class="btn-group" role="group" aria-label="Select timeframe">
        <input type="radio" class="btn-check" name="{{ timerange_name }}" id="{{ timerange_id }}-5m" value="5" autocomplete="off" checked />
        <label class="btn btn-outline-primary" for="{{ timerange_id }}-5m">5m</label>

        <input type="radio" class="btn-check" name="{{ timerange_name }}" id="{{ timerange_id }}-15" value="15" autocomplete="off" />
        <label class="btn btn-outline-primary" for="{{ timerange_id }}-15">15m</label>

        <input type="radio" class="btn-check" name="{{ timerange_name }}" id="{{ timerange_id }}-60" value="60" autocomplete="off" />
        <label class="btn btn-outline-primary" for="{{ timerange_id }}-60">1h</label>

        <input type="radio" class="btn-check" name="{{ timerange_name }}" id="{{ timerange_id }}-360" value="360" autocomplete="off" />
        <label class="btn btn-outline-primary" for="{{ timerange_id }}-360">6h</label>
    </div>

    <div class="btn-group ms-3" role="group" aria-label="Select interval">
        <input type="radio" class="btn-check" name="{{ interval_name }}" id="{{ interval_id }}-10" value="10" autocomplete="off" checked />
        <label class="btn btn-outline-primary" for="{{ interval_id }}-10">10s</label>

        <input type="radio" class="btn-check" name="{{ interval_name }}" id="{{ interval_id }}-30" value="30" autocomplete="off" />
        <label class="btn btn-outline-primary" for="{{ interval_id }}-30">30s</label>

        <input type="radio" class="btn-check" name="{{ interval_name }}" id="{{ interval_id }}-60" value="60" autocomplete="off" />
        <label class="btn btn-outline-primary" for="{{ interval_id }}-60">1m</label>

        <input type="radio" class="btn-check" name="{{ interval_name }}" id="{{ interval_id }}-300" value="300" autocomplete="off" />
        <label class="btn btn-outline-primary" for="{{ interval_id }}-300">5m</label>
    </div>
</div>